{% extends "base_index.html" %}
{% block content %}
<div class="cotn_principal">
    <div class="cont_centrar">

        <div class="cont_login">
            <div class="cont_info_log_sign_up">
                <div class="col_md_login">
                    <div class="cont_ba_opcitiy">

                        <h2>LOGIN</h2>
                        <p>Ici vous pouvez vous connecter</p>
                        <button class="btn_login" onclick="window.location='/login'">LOGIN</button>
                    </div>
                </div>
                <div class="col_md_sign_up">
                    <div class="cont_ba_opcitiy">
                        <h2>SIGN UP</h2>
                        <p>Ici vous pouvez vous inscrire</p>
                        <button class="btn_sign_up" onclick="window.location='/register'">REGISTER</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}