
{% block content %}
<form method="POST">
    <div class="lg-container">
        <h1>REGISTER</h1>
        {% for field in form %}
            
                    {% if field.widget.input_type != 'hidden' %}
                        <div class="row">
                            <div class="col-sm">
                                {{ field.label(class_="form-label") }}
                            </div>
                        </div>
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <div class="alert alert-error">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                    <div class="row">
                        <div class="col-sm">
                            {{ field(class_="form-control") }}
                        </div>
                    </div>
        {% endfor %}
        <button type="submit" id="login">Valider</button>
    </div>
</form>

{% endblock %}